<div class="bg-white">
		<script>
		"use strict";
			function toggle(idOfElementToBeToggled) {
				const toggleElement = document.getElementById(idOfElementToBeToggled);
				toggleElement.style.display = toggleElement.style.display === "none" ? "block" : "none";} 
		</script>
	<!-- Malort Osnabrück -->
	<h1 class="ph3-ns ph3-m ph3-nl ph3 f-title-ns f-title-m f-title-l f-title b malort-font">Malort Osnabrück</h1>
	<!-- warum -->
	<div class="ph3-ns ph3-m ph3-nl ph3   ">
		<h1 onclick="toggle('warum')" class="f-headline-ns f-headline-m f-headline-l f-headline b malort-font">warum</h1>
		<div class="flex-ns mhn1-ns flex-wrap " id="warum" style="display: none;" >
			{{ range where (where .Data.Pages "Type" "post") ".Params.category" "==" "warum" }}
					{{ .Render "single" }}
			{{ end }}
		</div>
	</div>
	<!-- malort -->
	<div class="ph3-ns ph3-m ph3-nl ph3   ">
		<h1 onclick="toggle('malort')" class=" f-headline-ns f-headline-m f-headline-l f-headline b malort-font">der malort</h1>
		<div class="flex-ns mhn1-ns flex-wrap" id="malort" style="display: none;" >
			{{ range where (where .Data.Pages "Type" "post") ".Params.category" "==" "malort" }}
					{{ .Render "single" }}
			{{ end }}
		</div>
	</div>
	<!-- teil sein -->
	<div class="ph3-ns ph3-m ph3-nl ph3   ">
		<h1 onclick="toggle('teil_sein')" class=" f-headline-ns f-headline-m f-headline-l f-headline b malort-font">teil sein</h1>
		<div class="flex-ns mhn1-ns flex-wrap" id="teil_sein" style="display: none;" >
			{{ range where (where .Data.Pages "Type" "post") ".Params.category" "==" "teil_sein" }}
					{{ .Render "single" }}
			{{ end }}
		</div>
	</div>
	<!-- kontakt -->
	<div class="ph3-ns ph3-m ph3-nl ph3   ">
		<h1 onclick="toggle('kontakt')" class=" f-headline-ns f-headline-m f-headline-l f-headline b malort-font">kontakt</h1>
		<div class="flex-ns mhn1-ns flex-wrap" id="kontakt" style="display: none;" >
			{{ range where (where .Data.Pages "Type" "post") ".Params.category" "==" "kontakt" }}
					{{ .Render "single" }}
			{{ end }}
		</div>
	</div>
</div>
