{{ define "main" }}

  <div class="mw6 left ph3">
    <h1 onclick="toggle('{{ .UniqueID }}')" class="mb3" >{{.Title}}</h1>
    <script>
      function toggle(id) {
        const toggleElement = document.getElementById(id);
        toggleElement.style.display = toggleElement.style.display === "none" ? "block" : "none";} 
    </script>
    <div class="cms mw6" id="{{ .UniqueID }}" style="display: none;">
      <p>{{ .Description }}</p>
      {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
      {{ .Content }}
    </div>
  </div>
{{ end }}
